.contenedorTrack {
    position: relative;
    text-align: left;
}

.estatusEmbarque {
    position: absolute;
    left: 80%;
    bottom: 80%;
    
    text-align: center;
}

@media (max-width: 1000px) {
    .estatusEmbarque {
        bottom: 75%;
        left: 80%;
    }
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }